#pane{
    -fx-background-image: url("/Users/ayushbhosale/Documents/FA22/CS2043/Project/Gradiant.png");
    -fx-background-repeat: stretch;       -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}